server:
    port: 5001

logging:
    level:
        org:
            springframework:
                web: DEBUG

spring:
    data:
        mongodb:
            database: profile_db

kafka:
    bootstrapAddresses: localhost:9092,localhost:9093,localhost:9094
    topicName: Topic